<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
    <listeners>
        <listener class-name="com.shoestore.ExtentReportListener.ExtentReporterNG" />
    </listeners>

    <test name="Shoe Store Tests">
        <classes>
            <class name="com.shoestore.tests.ShoeStoreTest" />
        </classes>
    </test>
</suite>